<mat-form-field>
    <input matInput placeholder="Search by Title" [(ngModel)]="currentValue">
</mat-form-field>
<button class="buttonStyle" (click)="searchByTitle()" mat-raised-button color="primary">search</button>
<button class="buttonStyle" (click)="clear()" mat-raised-button color="warn">cancel</button>
