<div>
    <input *ngIf="params.column.colDef.isHeaderCheckbox" type="checkbox" (click)="selectAllCheck()"
        [checked]="agGridComponent.videoSelectedListeSize === agGridComponent.videoList.length" />
    <div>{{ params.displayName }}</div>
</div>