.global{
    background-color: rgb(27, 58, 48);
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  #selection{
    font-size: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
mat-card{
  margin: auto; width: 300px; text-align: center;
}
  .orange-column {
    margin: 20px;
}
.columnStyle{
  align-content: center;
  padding-top: 40px;
  margin: auto;
}
  @media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
  }
  ag-grid-angular{
    min-width: 500px;
    height: 400px; 
    margin: auto; 
    max-width: 800px;
  }
  ::ng-deep snack-bar-container.alert-red {
    padding: 20px;
    background-color: red;
    color: white;
  }