<div class="global">
    <div class='some-page-wrapper'>
        <div class='row'>
            <div class='column'>
                <div class='orange-column columnStyle'>
                    <span id="selection">active selection mode: </span>
                    <mat-slide-toggle (change)="toggle()"></mat-slide-toggle>
                    <div>
                        <app-search-component (newListEvent)="receiveListAfterSearch($event)" [videoList]="videoList">
                        </app-search-component>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='showSelection' class='row'>
            <div class='column'>
                <div class='orange-column'>
                    <mat-card flex-gt-sm>
                        <mat-card-title> total count of records:</mat-card-title>
                        <mat-card-content>
                            <p style="font-size: 40px; ">{{totalVideo}}</p>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
            <div class='column'>
                <div class='orange-column'>
                    <mat-card flex-gt-sm>
                        <mat-card-title>
                            count of records found:
                        </mat-card-title>
                        <mat-card-content>
                            <p style="font-size: 40px; ">{{rowData?.length}}</p>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
            <div class='column'>
                <div class='orange-column'>
                    <mat-card flex-gt-sm>
                        <mat-card-title> selected records count:</mat-card-title>
                        <mat-card-content>
                            <p style="font-size: 40px; ">{{videoSelectedListeSize}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

        </div>
        <div class='row'>
            <div class='column'>
                <div class='orange-column'>
                    <ag-grid-angular class="ag-theme-alpine" [rowData]="rowData " [columnDefs]="columnDefs"
                        [frameworkComponents]="frameworkComponents" [getContextMenuItems]="getContextMenuItems">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>




</div>